.loader {
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #e9b12e transparent transparent transparent;
  }
  .loader:nth-child(1) {
    animation-delay: -0.45s;
  }
  .loader:nth-child(2) {
    animation-delay: -0.3s;
  }
  .loader:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }